body{
    width: auto;
    height: auto;
    margin: 0px;
}
header {
    position:fixed;
    top: 20px;
    left: 0;
    width: 100%;
    height: auto;
}
header #headerElements{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10px;
    margin-left: 20px;
    color: white;
}
#divHeaderButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#headerText{
    font-size: 25px;
    margin: 0px;
}
.headderButtons{
    height: auto;
    color: white;
    background-color: transparent;
    border-color: transparent;
    outline: none;
    font-size: 17px;
    margin-right: 15px;
}
#firstSection{
    height: 200px;
    width:  100%;
    background-color: tomato;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #4c4c4c;
    color: white;
}
footer div p{
    color:white;
    margin: 10px;
}
footer #footerText{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}