body{
    width: auto;
    height: auto;
    margin: 0px;
}
header {
    position:fixed;
    top: 20px;
    left: 0;
    width: 100%;
    height: auto;
}
header #headerElements{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10px;
    margin-left: 20px;
    color: white;
}
#divHeaderButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#headerText{
    font-size: 25px;
    margin: 0px;
    background-color: #5aec97;
    border-style:solid;
    border-bottom: dimgrey;
    border-radius: 3px;
    color: black;
    font-family:Lucida, sans-serif;

}
.headderButtons{
    height: auto;
    color: white;
    background-color: transparent;
    border-color: transparent;
    outline: none;
    font-size: 17px;
    margin-right: 15px;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #4c4c4c;
    color: white;
}
footer div p{
    color:white;
    margin: 10px;
}
footer #footerText{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#imageTop{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 300px;
    z-index: -1;
}
#imageTop img{
    object-fit: contain;
    width: 100%;
    height: 100%;
    
}
#framesText{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    position: fixed;
    top: 340px;
    left: 0px;
    width: 100%;
    height: fit-content;
}
.divSectionHomePageText{
    padding-right: 60px;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
}
.divProjects{
    display: flex;
    flex-direction: row;
}
.divProjects img{
    width: 50px;
    height: 50px;
    object-fit: contain;
}
h1{
    margin: 0px;
    font-family:'Times New Roman';
}
h3{
    color: rgb(170, 170, 170);
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 0px;
    font-family:'Times New Roman';
}
.divSectionHomePageText p{
    margin-top: 10px;
    font-size: 17px;
    color: grey;
}